.pjax-loading {
    /*opacity: 0.5;*/
}

.pjax-loading {
    position: relative;
}

.pjax-loading:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: .8;
    z-index: 100;
}

.pjax-loading:after {
    content: url(../images/loading.svg) !important;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 101;
    transform: scale(3) translateX(-50%);
}